.button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    border-radius: 50%;

    @media (min-width: 768px) {
        &:hover {
            background-color: darken(white, 25);
        }

        &:active {
            background-color: darken(white, 50);
        }
    }

    &.play-pause {
        background-image: url(../../assets/img/pause.svg);

        &.paused {
            background-image: url(../../assets/img/play.svg);
        }
    }

    &.reset {
        background-image: url(../../assets/img/reset.svg);
        background-size: 20px;
    }
}

.button-container {
    position: absolute;
    margin: 12px;

    &.left-top {
        display: flex;
        flex-flow: row nowrap;
        left: 0;
        top: 0;

        .button {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}