.button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 50%;

    filter: drop-shadow(0 0 5px rgba(black, 0.75));

    @media (min-width: 768px) {
        &:hover {
            background-color: darken(white, 25);
        }

        &:active {
            background-color: darken(white, 50);
        }
    }

    &.play-pause {
        background-image: url(../../assets/img/pause.svg);
        background-size: 16px;

        &.paused {
            background-image: url(../../assets/img/play.svg);
        }
    }

    &.reset {
        background-image: url(../../assets/img/reset.svg);
    }

    &.fullscreen {
        background-image: url(../../assets/img/maximize.svg);

        &.active {
            background-image: url(../../assets/img/minimize.svg);
        }
    }

    &.settings {
        background-image: url(../../assets/img/settings.svg);
    }
}

.button-container {
    position: absolute;
    margin: 12px;

    &.left-top {
        display: flex;
        flex-flow: row nowrap;
        left: 0;
        top: 0;

        .button {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.label-container {
    .label {
        position: absolute;
        font-size: 18px;
        white-space: nowrap;
        font-family: "Roboto", sans-serif;
        line-height: 32px;
        color: white;        
        text-shadow: 0 0 7px black;
        
        transition: opacity 300ms ease;
        opacity: 0;

        &.shown {
            transition: unset !important;
            opacity: 1;
        }
    }
}

.settings-container {
    position: absolute;
    width: 100px;
    font-size: 0;

    filter: drop-shadow(0 0 5px rgba(black, 0.75));

    transform: translateX(calc(-50% + 16px));

    .pointer {
        position: relative;
        left: 50%;
        top: 1px;
        transform: translateX(-50%);
    }

    .settings {
        background: black;
        height: 100px;

        color: white;
        font-size: 14px;

        border: 1px solid white;
        border-radius: 8px;
    }
}